
.theme-ladr .nivoSlider {
	position:relative;
	background:#fff url(/assets/nivo/ladr/loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-ladr .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-ladr .nivoSlider a {
	border:0;
	display:block;
}

.theme-ladr .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-20px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-ladr .nivo-controlNav a {
	display:block;
	width: 12px;
	height: 11px;
	background:url(/assets/nivo/ladr/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-ladr .nivo-controlNav a.active {
	background-position:0 -11px;
}

.theme-ladr .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/assets/nivo/ladr/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-ladr a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-ladr a.nivo-prevNav {
	left:15px;
}

.theme-ladr .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-ladr .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-ladr .nivo-caption a:hover {
    color:#fff;
}