body, h1 {
    color: #455d29;
}

h1 {
    font-size: 3.0em;
}

header {
    padding: 3em 0 3em 0em;
    -webkit-box-shadow: 0px 3px 3px -2px #000000;
    -moz-box-shadow: 0px 3px 3px -2px #000000;
    box-shadow: 0px 3px 3px -2px #000000;
    z-index: 15;
    position: relative; 
}

footer {
    text-align: center;
    background-color: #e5e5e5;
    margin-left: 3em;
    color: black;
}

nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 13;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 7px 0; /* nav li.selected a box-shadow offset + blur */
}

nav li {
    display: inline-block;
    width: 7em;
    text-align: center;
    background-color: #a7b82b;
    margin-right: .3em;
}

nav li.selected a, nav li.selected a:active, nav a:hover {
    color: #b3b3b3;    
    background-color: white;
    z-index: 20;
    position: relative;
    -webkit-box-shadow: 0 0 3px 1px #000000;
    -moz-box-shadow: 0 0 3px  1px #000000;
    box-shadow: 0 0 3px  1px #000000;
}

nav a, nav a:active, nav a:visited {
    text-decoration: none;
    color: #465c2b;
    display: block;
    padding: .3em 0;
}

h1, h2, p {
    margin: 0;
	
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
}

ul {
    display: inline;
}

#logo {
    background-image: url("/content/images/logo.png");
    background-repeat: no-repeat;
    width: 423px;
    height: 61px;
}

#main {
    margin: 0 0 2em 0;
    position: relative;
}

#content {
    margin-top: 3em;
}

#gallery {
    width: 950px;
    height: 346px;
    background: url(nivo/ladr/loading.gif) no-repeat 50% 50%;
}
#gallery img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#gallery a {
    border: 0;
    display: block;
}

#gallery.show img {
    display: block;
}

#awards {
    margin-top: 2em;
}

#awards h2 {
    font-size: 1.2em;
}

#awards ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#awards li {
    margin-bottom: 1.5em;
}

#team {
    margin-bottom: 0;
    margin-top: 2em;
    padding: 0;
    list-style-type: none;
}

#team p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#contact {
    margin-top: 2em;
}

#awards h2 {
    font-size: 1.2em;
}

#contact p {
    margin-top: 1.5em;
    font-size: 1em;
}

#team img {
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5em;
    width: 100px;
}

#team li {
    margin-bottom: 5em;
}

#team li > div {
    display: inline-block;
    margin-bottom: 2em;
}

#team h2 + div {
    font-size: smaller;
}

#form {
    width: 580px;
    margin-top: 2em;
}

#form input, #form textarea {
    padding: 5px;
    width: 420px;
    background-color: #e8dbab;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#form textarea {
    height: 90px;
}

#form textarea:focus, #form input:focus {
    border: 2px solid #900;
}

#form input.submit-button {
    float: left;
    margin-left: 85px;
    height: 30px;
    width: 60px;
}

label {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 70px;
    padding-top: 5px;
    font-size: 1em;
}

#pager {
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

#pager li {
    display: inline-block;
}

#pager a {
    display: block;
    width: 12px;
    height: 11px;
    background: url(nivo/ladr/bullets.png) no-repeat;
    margin: 0 .3em 0 .3em;
}

#pager li.selected a {
    background-position: 0 -11px;
}

#next a, #prev a {
    width: auto;
    background: none;
}

#prev a {
    padding-right: 1em;
}

#next a {
    padding-left: 1em;
}

.push-2 {
    margin-bottom: 0;
}

.container {
    overflow: hidden;
}
