body, h1 {
    color: #455d29;
}

h1 {
    font-size: 3em;
}

header {
    padding: 3em 0 3em 0em;
    -webkit-box-shadow: 0px 3px 3px -2px #000000;
    -moz-box-shadow: 0px 3px 3px -2px #000000;
    box-shadow: 0px 3px 3px -2px #000000;
    z-index: 1;
    position: relative; 
}

footer {
    text-align: center;
    background-color: #e5e5e5;
    margin-left: 3em;
    color: black;
}

nav {
    position: absolute;
    top: 0;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 7px 0; /* nav li.selected a box-shadow offset + blur */
}

nav li {
    display: inline-block;
    width: 7em;
    text-align: center;
    background-color: #94aa79;
    margin-right: .3em;
}

nav li.selected a, nav a:hover {
    color: #b3b3b3;    
    background-color: white;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 0 3px 1px #000000;
    -moz-box-shadow: 0 0 3px  1px #000000;
    box-shadow: 0 0 3px  1px #000000;
}

nav a {
    text-decoration: none;
    color: #465c2b;
    display: block;
    padding: .3em 0;
}

h1, h2, p {
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
}

ul {
    display: inline;
}

#logo {
    background-image: url("/content/images/logo.png");
    background-repeat: no-repeat;
    width: 423px;
    height: 61px;
}

#main {
    margin: 0 0 3em 0;
    position: relative;
}

#content {
    margin-top: 3em;
}

#image {
}

#team {
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0;
    list-style-type: none;
}

#team p {
    margin-top: 1em;
}

#team img {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}

#team li {
    margin-bottom: 3em;
}

#team li > div {
    display: inline-block;
}

#team h2 + div {
    font-size: smaller;
}

.push-2 {
    margin-bottom: 0;
}

.container {
    overflow: hidden;
}
