<div id="content" class="span-22 push-2">
    <h1 class="span-22"><br />Our Team</h1>
    <div class="span-5" id="awards">
        <h2>Awards</h2>
        {{outlet awards}}
    </div>
    {{outlet team}}
</div>