<div class="container">
    <header class="span-22 prepend-2">
        <div id="logo"></div>
    </header>
    <div id="main" class="span-24">
        <nav class="span-24">
            <ul class="push-2">
                <li>{{#link-to 'index'}}Home{{/link-to}}</li>
                <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
                <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
                <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
            </ul>
        </nav>
        <div id="outlet">
            {{outlet}}
        </div>    
    </div>
    <footer class="span-20 push-2">
        LADR Landscape Architects &copy; 2011. Site design by <a href="http://www.defucamedia.com/" data-role="external">De Fuca Media</a>
    </footer>
</div>